# trash
.venv
.vs
*.db
__pycache__
*logs/

# local testing function
*tester.ipynb
*temp/

# data

# mlflow
mlflow
mlflow_data
mlruns
mlartifacts
mlflow.db

# redice
redice_data

# trainer_service
trainer_service/src/datasets
trainer_service/src/shared
trainer_service/src/models/

# data_manipulation_service
data_manipulation_service/src/shared
data_manipulation_service/src/datasets