# trash
.venv
.vs
*.db
__pycache__
*logs/

# local testing function
*tester.ipynb
*temp/

# data
datasets

# mlflow
mlflow
mlflow_data
mlruns
mlartifacts
mlflow.db

# redice
redice_data

# trainer service
trainer/src/datasets
trainer/src/shared
utils_old/

# data_manipulation_service
data_manipulation_service/src/shared